.content {
    width: 1000px;
    margin: 0 auto;
    background: green;
}

.content h3 {
    display: inline;
}

.content button {
    display: block;
}

.content img {
    display: block;
}

.color {
    width: 1000px;
    margin: 0 auto;
    background: lightblue;
}

.something {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    background: lightcoral;
    position: fixed;
    right: 0;
    bottom: 0;
}

.box1 {
    width: 200px;
    background: url(https://i.pinimg.com/564x/ff/74/16/ff7416781dddda42e55ea1cea7c0d43e.jpg);
    background-position: center;
    height: 300px;
    position: relative;
    top: 20px;
    left: 50px;
    border-radius: 5px;
}

.abs {
    position: absolute;
    background: rgb(228, 228, 228);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 120px;
    left: 70px;
}
 .abs p {
     font-size: 30px;
     margin: 0;
 }

.menu {
    position: sticky;
    width: 1000px;
    background:  grey;
    height: 50px;
    margin: 0 auto;
    top: 0;
}